
html, body {
	font: 12px sans-serif;
}

.recurrence {
	margin: 0 0 1em;
	padding: 1em;
	border: 1px solid #000;
}
.recurrence-field {
	display: block;
	margin: 0 0 1em;
}
.recurrence-field-label {
	margin-right: .5em;
}
.recurrence-field-hint {
	margin-left: .5em;
}
.recurrence-field-days button {
	opacity: 0.5;
}
.recurrence-field-days button.recurrence-active {
	opacity: 1;
}

.sample-container {
	display: inline-block;
	vertical-align: top;
	margin: 1em;
}
.sample-container p {
	padding: 0;
	margin-top: 0;
}
